{% extends "base.html" %}

{% block content %}

  <div class="container py-5 mb-5">
    <h1 class="display-3" style="text-align: center">404<span class="vim-caret">͏͏&nbsp;</span></h1>
    <h2 class="mb-4" style="text-align: center">Страница не найдена</h2>
    <div class="row py-4">
      <h1 style="text-align: center; width: 100%">
        Если вы что-то искали, то вы ищите не там
      </h1>
      <a href="javascript:history.back()" class="mt-5 btn btn-shadow btn-success btn-block">НАЗАД</a>
    </div>
  </div>

{% endblock %}

{% block scripts %}{% endblock %}
